<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"%>
    <title>LoginIn</title>
</head>
<body>
<h2>用户登录</h2>
<br>
<form action="http://localhost:8080/user/login" method="post">
    <br>
    <table width="300" align="center">
        <tr>
            <td><input type="text" onmouseover="this.style.borderColor='black';this.style.backgroundColor='plum'" onmouseout="this.style.borderColor='black';this.style.backgroundColor='#ffffff'" style="border-width:1px;border-color=black" name="name" placeholder="input name"></td>
        </tr>

        <tr>
            <td><input type="password"  name="password"  placeholder="input password"></td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="submit" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>